.slot-machine {
    background-color: #B52626;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.slot-heading {
    font-family: cursive;
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 2.5em;
}

.reels {
    display: flex;
    margin: 0 auto;
    width: 630px;
}

.slot {
    width: 200px;
    height: 200px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border: 1px solid #B52626;
    border-radius: 10px;
    margin: 6px;
}

.item-container {
    position: absolute;
    width: 100px;
}

.item-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gold;
    width: 200px;
    height: 200px;
    top: 50%;
    font-family: Arial;
    font-size: 1.4em;
}
.status {
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    font-family: cursive;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.lever {
    text-align: center;
}

button {
    margin-top: 35px;
    background: gold;
    width: 250px;
    height: 75px;
    outline: none;
    border-radius: 30px;
    font-size: 1.5em;
}

