.slot-machine {
    border: 1px solid #801515;
    width: 95%;
    min-width: 500px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.slot-heading {
    font-family: Cursive;
    text-align: center;
    color: #801515;
    font-weight: 100;
    font-size: 2.5em;
}

.reels {
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 175px;
    background-color: #801515;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px #333333;
}

.slot {
    width: 150px;
    height: 150px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px;
}

.item-container {
    position: absolute;
    width: 100px;
}

.item-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gold;
    width: 150px;
    height: 150px;
    top: 50%;
    font-family: Arial;
    font-size: 1em;
}
.status {
    color: #333333;
    font-size: 1.3em;
    font-weight: 300;
    font-family: Cursive;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.lever {
    text-align: center;
}

button {
    margin-top: 20px;
    background: white;
    width: 250px;
    height: 75px;
    outline: none;
    border-radius: 8px;
    font-size: 1.5em;
    font-family: Cursive;
}

.score-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.score {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.score .icon {
    width: 75px;
    height: 75px;
}

.score-count {
    color: #333333;
    margin-left: -15px;
    font-family: Arial;
    vertical-align: bottom;
}
